
.card {
    border: 1px solid #acacac;
    margin: 20px auto;
    width: 500px;
    height: auto;
    border-radius: 25px;
    padding: 10px;
}

.dish-img{
width: 100%;
border-radius:25px;
}

.offer-tag {
    background-color: blue;
    color: white;
    font-size: 19px;
    line-height: 28.8px;
    padding: 0px 9.6px;
    width: max-content;
    border-radius: 0px 3px 3px 0px;
    position: absolute;
    top: 238px;
}

.time-tag{
    background-color: white;
    color: black;
    font-size: 18px;
    line-height: 28.8px;
    padding: 0px 9.6px;
    width: max-content;
    border-radius: 5px;
    text-overflow: ellipsis;
    position: absolute;
    top: 238px;
    right: 200px;
}

.promoted-tag{
 text-align: center;
 background-color: #000000;
 width: 75px;
 color: #acacac;
 border-radius: 3px;
 opacity: 0.4;
 margin: 20px;
 position: absolute;
 top:30px;
}

.base-details{
    border-top: 1px solid rgb(174, 174, 174);
}

.safety-img{
    width: 20%;
    position: relative;
    top: 35px
}


.base-txt{
    position: relative;
    left: 120px;
    bottom: 25px;
    color: #7b7b7b;
    font-family: Arial, Helvetica, sans-serif;
}

.card-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27.2px;
}

.card-txt{
    font-family: Arial, Helvetica, sans-serif;
    color: #878787;
    font-size: inherit;
}